extends layout

block content
  h1= title
  p ようこそ #[em LocalLibrary], Mozilla Developer Network のチュートリアルとして作られた、ごく基本的な Express ウェブサイト。

  h1 リアルタイムコンテンツ

  p 図書館の記録件数:

  ul
    li #[strong 本:] !{book_count}
    li #[strong 蔵書数:] !{book_instance_count}
    li #[strong 利用可能な蔵書数:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
